/* header */
.header {
	position: absolute;
	top: 0;
	left: 0;
	/* padding-top: 32px; */
	width: 100%;
}

.header-container {
	padding-top: 32px;
	/* margin-top: 32px; */
	/* display: flex;
	 flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-between; 
	align-items: center;
 */
}

.header-nav {
	flex-grow: 1;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	column-gap: 40px;
	row-gap: 16px;
}

.header-menu {
	flex-grow: 1;
	display: flex;
	justify-content: center;
	column-gap: 62px;
	flex-wrap: wrap;
}
