/* traditional section */
.traditions-section {
	padding-top: 96px;
}
.traditions-text .brand {
	color: var(--color-brand-normal);
	font-weight: 600;
}
.uppercase {
	text-transform: uppercase;
}
.tradions-title {
	margin-bottom: 42px;
	color: var(--color-primary-dark);
	font-size: 62px;
	font-weight: 900;
	line-height: 1.3;
}
.traditions-container {
	display: flex;
	column-gap: 62px;
	/* flex-wrap: wrap; */
	justify-content: space-between;
}
.traditions-content {
	max-width: 600px;
	display: flex;
	flex-direction: column;
	row-gap: 50px;
}
.traditions-image {
	width: 393px;
	height: 466px;
	border-radius: 400px 400px 0px 0px;
}
